# LiveKit Sunucu Ayarları
# LiveKit Cloud Dashboard -> Keys sekmesinden API Key ve Secret alıp buraya yapıştırın.
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_API_SECRET=your_livekit_api_secret_here

# LiveKit Web Socket URL
NEXT_PUBLIC_LIVEKIT_URL=wss://your-livekit-project.livekit.cloud

# Canlı Web Alan Adı (Davet Linkleri İçin)
NEXT_PUBLIC_APP_URL=https://ses.app.noticq.com
